.bgd{
    position: relative;
}
.default_1{
    position: absolute;
    left: 6.23rem;
    top: 2.58rem;
    width: 1.27rem;
    height: 1.51rem;
}
.default_2{
    position: absolute;
    left: 6.33rem;
    top: 4.32rem;
    width: 1.17rem;
    height: 1.29rem;
}
.default_3{
    position: absolute;
    left: 0rem;
    top: 9.62rem;
    width: 1.64rem;
    height: 1.75rem;
}
.default_4{
    position: absolute;
    left: 0rem;
    top: 11.78rem;
    width: 1.42rem;
    height: 1.43rem;
}
.default_5{
    position: absolute;
    left: 0rem;
    top: 14.36rem;
    width: 7.5rem;
    height: 1.88rem;
}
.slogan{
    position: absolute;
    left: 3.52rem;
    top: 5.04rem;
    width: 0.48rem;
    height: 4.84rem;
}
.logo{
    position: absolute;
    left: 3.26rem;
    top: 12.98rem;
    width: 1rem;
    height: 1rem;
}