.foot{
    position: fixed;
    bottom: 0;
}
.foot ul li{
    float: left;
    width: 1.5rem;
    height: 1.66rem;
    text-align: center;
    background-color: white;
}
.foot ul li span{
    display: block;
    font-size: 0.2rem;
    font-family: PingFang SC;
    line-height: 0.28rem;
    color: #333333;
}
.foot ul li img{
    width: 0.48rem;
    height: 0.48rem;
    margin-top: 0.16rem;
}
.foot ul li .current{
    color: #C30D23;
}
